<div class="container mtb">
    <div class="row centered">
        <h3 class="mb">MY VALUES</h3>
        {% for personalValue in site.personalValues %}
        <div class="col-lg-3 col-md-3 col-sm-3">
            <div class="he-wrap tpl6">
            <img src="{{ "/assets/img/members/" | prepend: site.baseurl }}{{ personalValue.img }}" alt="" style="height:200px">
            </div><!-- he wrap -->
            <h4>{{ personalValue.valueName }}</h4>
            <h5 class="ctitle">{{ personalValue.valueQuote }}</h5>
            <p>{{ personalValue.text }}</p>
        </div><! --/col-lg-3 -->
        {% endfor %}
        
    </div><! --/row -->
</div><! --/container -->